:host {
  display : flex;
  flex-direction: column;
  position : sticky;
  top: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 100vh;
  background-color: #fbfbf9;
}


.top {
  display: flex;
  flex-direction: column;
  height: 30%;
}
