<div class="country"></div>
<h2>My Order</h2>
<p>Take out</p>
<hr>
<div class="order">
  <div class="card">
    <img src="../../../assets/icons/burger.svg" alt="food">
    <p>title</p>
    <p>price</p>
    <p>number</p>
  </div>
  <div class="card">
    <img src="../../../assets/icons/burger.svg" alt="food">
    <p>title</p>
    <p>price</p>
    <p>number</p>
  </div>
  <div class="card">
    <img src="../../../assets/icons/burger.svg" alt="food">
    <p>title</p>
    <p>price</p>
    <p>number</p>
  </div>
  <p>Total</p>
  <h2>$13.86</h2>
  <button>Done</button>
</div>
