<div class="top">
  <div class="country"></div>
  <div class="title">
    <h2>My </h2>
    <h2>Order </h2>
    <h3>Take out</h3>
  </div>
</div>
<div class="cart">
  <div class="cart-item" *ngFor="let item of cart">
    <img [src]="'../../../assets/icons/' + item.icon" alt="icon {{item.name}}">
    <ul>
      <li>{{item.name}} </li>
      <li>$ {{item.price}} </li>
    </ul>
    <div class="number">
      <button class="minus" (click)="sousProduct()">-</button>
      <p>{{count}}</p>
      <button class="add" (click)="addProduct()">+</button>
    </div>
   </div>
</div>
<div class="checkout">
  <p>Total</p>
  <h2>$13.86</h2>
  <button type="submit" class="submit-btn">Done</button>
</div>
