:host {
  display : flex;
  flex-direction: column;
  position : sticky;
  top: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 100vh;
  background-color: #fbfbf9;
}


.top {
  display: flex;
  flex-direction: column;
  height: 30%;
}
.country {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 50%;
}

.title {
  font-size: 0.6em;
  padding-left: 20%;
  margin-top: auto;
}

.cart {
  padding-top: 10%;
  text-align: center;
  overflow: scroll;
}

.cart-item{
  margin-top: 20%;
  &::before{
    content:'';
    display: block;
    height: 1px;
    background-color: rgba(224, 224, 224, 0.842);
    width: 90%;
    margin: auto;
    top: -15px;
    position: relative;
  }
}

img{
  height: 30px;
  width: 30px;
}

p, li{
  font-size: 0.8em;
}


.number {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.minus{
  background-color: transparent;
  border: 1px solid gray;
  font-size: 0.8em;
  margin: 0 10%;
  width: 20%;
  border-radius: 30%;
  border: none;
}

.add {
  background-color: #ffca40;
  font-size: 0.8em;
  margin: 0 10%;
  width: 20%;
  border-radius: 30%;
  border: none;
}



.checkout{
  margin-top: auto;
  text-align: center;
  margin-bottom: 20%;
  &::before{
    content:'';
    display: block;
    height: 1px;
    background-color: rgba(224, 224, 224, 0.842);
    width: 90%;
    margin: auto;
    top: -15px;
    position: relative;
  }
}

.checkout h2{
  margin-bottom: 30px;
}

.submit-btn {
  background-color: #ffca40;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  border: 0;
  font-weight: bold;
  font-size: 1rem;
}
