.grid-products{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: (repeat(2,1fr));
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 90px;
  width: 100%;
  background-color: #f8f8f6;
  border-radius: 15px;
  cursor: pointer;
}

img {
  width: 40%;
}

.grid-products p {
  font-size: 0.6em;
  font-weight: bold;
}

.price {
  color : #ffca40;
}
